@charset "utf-8";
/* CSS Document */
body{
	padding:0;
	margin:0;
	}
.content{
	width:1000px;
	background:#B1AEAE;
	margin:auto 0;
	}
	
.header{
	width:100%;
	height:100px;
	background:#DFDFDF;
	}
.header img{
	float:left;
	}
.quickLinks{
	width:30%;
	height:100px;
	float:right;
	margin-top:32px;
	text-align:center;
	}
.quickLinks a{
	display:inline-block;
	width:60px;
	height:36px;
	text-decoration:none;
	border:1px #1176DB solid;
	color:#1176DB;
	line-height:36px;
	font-size:12px;
	}
.quickLinks a hover{
	box-shadow:0 0 10px #98CCFC;
	}